*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}html,body{
    height: 100%;
    width: 100%;
}.main{
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
 
}.header{
    height: 15%;
    width: 100%;

    background-color: black;

    position:fixed;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    overflow-x: hidden;
} header>img{
    border-radius: 20px;
 height: 10%;
}
    ul{
    width: 50%;
padding-left: 10%;
    display: flex;
    margin-left:10%;
    gap: 8%;
    font-size: 15px;
    align-items: center;
    list-style-type: none;
  
}
ul:hover{
    cursor: pointer;

}
   .header> button{
    width: 10%;
    height: 60%;
    margin-top: 1%;
    border: none;
    margin-left:20%;
    color: black;
   
    border-radius: 50px;
    font-size: 15px;
}.page1{
    height: 40%;
    width: 100%;
    background: linear-gradient(rgb(48, 234, 188),black);
    display: flex;

}.p{
    height: 20%;
    color: white;
    padding-top: 10%;
    padding-left: 10%;
    width: 50%;
background: linear-gradient(red,black,black);
  
}.right>button{
margin-top: 50%;
font-size: 20px;
width: 190%;
height: 10%;
color: black;
   
}.page2{
    background: linear-gradient(rgb(8, 20, 17),black,black);;
    width: 100%;
    height: 90%;
    padding-left: 3%;
  
}.page2>.l{
    height: 80%;
    width: 90%;
    border: 2px solid rgb(224, 221, 221);
   transform: translateX(5%);
   border-radius: 10px;
   display: flex;
}.p1{
    height: 80%;
    width: 30%;
    margin-left: 2%;
   margin-top: 2%;
    border: 2px solid white;
    border-radius: 10px  ;
    overflow: hidden;

}.p1>img{
   height: 60%;
    object-fit: cover;
    
}.p1>button{
    color: rgb(13, 166, 44);
    background-color: black;
    width: 80%;
    margin-top: 9%;
    font-size: 40px;
  
}.p1>p{
    padding-left: 5%;
    font-size: 20px;
    padding-top: 5%;

}.p2{
    height: 80%;
    width: 30%;
    margin-left: 2%;
   margin-top: 2%;
    border: 2px solid white;
    border-radius: 10px  ;
    overflow: hidden;

}
.p2>img{
    height: 60%;
     object-fit: cover;
     
 }.p2>button{
     color: rgb(13, 166, 44);
     background-color: black;
     width: 80%;
     margin-top: 9%;
     font-size: 40px;
   
 }.p2>p{
     padding-left: 5%;
     font-size: 20px;
     padding-top: 5%;
 
 }
 .p3{
    height: 80%;
    width: 30%;
    margin-left: 2%;
   margin-top: 2%;
    border: 2px solid white;
    border-radius: 10px  ;
    overflow: hidden;

}.p3>img{
    height: 60%;
     object-fit: cover;
     
 }.p3>button{
     color: rgb(13, 166, 44);
     background-color: black;
     width: 80%;
     margin-top: 9%;
     font-size: 40px;
   
 }.p3>p{
     padding-left: 5%;
     font-size: 20px;
     padding-top: 5%;
 
 }.page3{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 3%;
 }.a{
    height: 80%;
    width: 90%;
    border: 2px solid rgb(171, 166, 166);
    padding-top: 2%;
    border-radius: 25px;
    display: flex;
    gap: 3%;
 
 }.a1{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: orange;
    display: flex;
    gap: 15%;
 }.a1>p{ font-size: 30px;

 }
 .a2{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: #BDDEFF;
    display: flex;
    gap: 15%;
 }.a2>p{ font-size: 30px;

 }
 .a3{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: #3079AC;
    display: flex;
    gap: 15%;
 }.a3>p{ font-size: 30px;

 }
 .a4{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color:#B88CBF;
    display: flex;
    gap: 15%;
 }.a4>p{ font-size: 30px;

 }
 .b{
    height: 80%;
    width: 90%;
    margin-top: -30%;
  
    padding-top: 3%;
    border-radius: 25px;
    display: flex;
    gap: 3%;
 
 }.b1{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color:#ABD194;
    display: flex;
    gap: 15%;
 }.b1>p{ font-size: 30px;

 }.b2{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: #627A92;
    display: flex;
    gap: 15%;
 }.b2>p{ font-size: 30px;

 }.b3{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: #21898C;
    display: flex;
    gap: 15%;
 }.b3>p{ font-size: 30px;

 }.b4{
    height: 15%;
    width: 20%;
    border: 2px solid white;
    padding:2% ;
    margin-left: 2%;
    background-color: #7C87A5;
    display: flex;
    gap: 15%;
 }.b4>p{ font-size: 30px;

 }.page4{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-left: 3%;
   
 }.e{
    height: 90%;
    width: 90%;
   margin-top: 2%;
  
    border-radius: 10px;
    display: flex;
 }.e1{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.e1>img{
    height: 75%;
    width: 100%;
 }.e1>h2{
    padding-left: 5%;
    font-size: 40px;
 }.e1>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }.e2{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.e2>img{
    height: 75%;
    width: 100%;
 }.e2>h2{
    padding-left: 5%;
    font-size: 40px;
 }.e2>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }
 .e3{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.e3>img{
    height: 75%;
    width: 100%;
 }.e3>h2{
    padding-left: 5%;
    font-size: 40px;
 }.e3>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }

 .page5{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-left: 3%;
   
 }.c{
    height: 90%;
    width: 90%;
   margin-top: 2%;
  
    border-radius: 10px;
    display: flex;
 }.c1{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.c1>img{
    height: 75%;
    width: 100%;
 }.c1>h2{
    padding-left: 5%;
    font-size: 40px;
 }.c1>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }.c2{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.c2>img{
    height: 75%;
    width: 100%;
 }.c2>h2{
    padding-left: 5%;
    font-size: 40px;
 }.c2>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }
 .c3{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.c3>img{
    height: 75%;
    width: 100%;
 }.c3>h2{
    padding-left: 5%;
    font-size: 40px;
 }.c3>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }

 .page6{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-left: 3%;
   
 }.d{
    height: 90%;
    width: 90%;
   margin-top: 2%;
  
    border-radius: 10px;
    display: flex;
 }.d1{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.d1>img{
    height: 75%;
    width: 100%;
 }.d1>h2{
    padding-left: 5%;
    font-size: 40px;
 }.d1>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }.d2{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.d2>img{
    height: 75%;
    width: 100%;
 }.d2>h2{
    padding-left: 5%;
    font-size: 40px;
 }.d2>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }
 .d3{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    margin: 3%;

 }.d3>img{
    height: 75%;
    width: 100%;
 }.d3>h2{
    padding-left: 5%;
    font-size: 40px;
 }.d3>button{
    background-color: black;
    width: 30%;
    margin-left: 10%;
    font-size: 20px;
 }

 .page7{
    height: 70%;
    width: 100%;
background-color: rgb(19, 18, 18);
display: flex;
gap: 5%;
padding-left: 5%;
padding-top: 5%;
line-height: 1.8;
font-weight: 500;
font-size: 20px;
color: white;

} 

